NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clkin" = PERIOD "clk" 20 ns HIGH 50 %;
NET "clk"  LOC = "B8";
NET "rst"  LOC = "G12";

# LED
#NET "led<0>"  LOC = "M5";

# Pin assignment for SWs
#NET "sw<7>" LOC = "N3";  # Bank = 2, Signal name = SW7
#NET "sw<6>" LOC = "E2";  # Bank = 3, Signal name = SW6
#NET "sw<5>" LOC = "F3";  # Bank = 3, Signal name = SW5
#NET "sw<4>" LOC = "G3";  # Bank = 3, Signal name = SW4
#NET "sw<3>" LOC = "B4";  # Bank = 3, Signal name = SW3
#NET "sw<2>" LOC = "K3";  # Bank = 3, Signal name = SW2
#NET "sw<1>" LOC = "L3";  # Bank = 3, Signal name = SW1
#NET "sw<0>" LOC = "P11"; # Bank = 2, Signal name = SW0
